<b>Roll the dice!</b>
<p><% dice=[1,2,3,4,5,6] %></p>
<p><image src="http://golearntocode.com/images/dice/<%=dice.sample %>.png" ></p><image src="http://golearntocode.com/images/dice/<%=dice.sample %>.png" >

<p><h3>That's how we roll in this *##$</h3></p>